<p id="notice"><%= notice %></p>
<h1>Phone Information</h1>
<p>
  <strong>Make:</strong>
  <%= @phone.make %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @phone.image_url %>
</p>

<p>
  <strong>Model:</strong>
  <%= @phone.model %>
</p>

<p>
  <strong>Color:</strong>
  <%= @phone.color %>
</p>

<p>
  <strong>Price:</strong>
  <%= @phone.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @phone.description %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
